<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Savio Menifer - About</title>
    <module href="/components/head.html"></module>
  </head>

  <body id="about">
    <module href="/components/header.html"></module>

    <main>
      <div class="intro-svg">
        <img src="./assets/images/about.svg" alt="TODO my garden" />
        <img class="about-photo" src="./assets/images/savio.jpg" />
      </div>
      <section class="page-intro">
        <p>
          Lorem Ipsum is the single greatest threat. We are not - we are not
          keeping up with other websites. Lorem Ipsum best not make any more
          threats to your website. It will be met with fire and fury like the
          world has never seen.
        </p>
      </section>
      <section class="page-content">
        <h2>Key facts</h2>
        <div class="about-tile">
          <h3>Multidisciplinary approach</h3>
          <p>
            Lorem Ipsum is the single greatest threat. We are not - we are not
            keeping up with other websites. Lorem Ipsum best not make any more
            threats to your website.
          </p>
        </div>
        <div class="about-tile">
          <h3>Constant learning</h3>
          <p>
            Lorem Ipsum is the single greatest threat. We are not - we are not
            keeping up with other websites. Lorem Ipsum best not make any more
            threats to your website.
          </p>
        </div>
      </section>
    </main>
    <module href="/components/footer.html"></module>

    <script src="/bundle.js"></script>
  </body>
</html>
