---
title: Savio Menifer - About
description: Growing up alongside the internet, I have always had a fascination for how the web can bring people and ideas together. Here is a glimpse into who I am and what drives me in my pursuit to explore the intersection of people and technology.
headertext: (he/him)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
  </head>

  <body id="about">
    {% include "header.html" %}

    <main>
      <div class="intro-svg">
        <img src="assets/images/about.svg" alt="" />
        <img
          class="about-photo"
          src="assets/images/savio.jpg"
          alt="Portrait of Savio Menifer"
        />
      </div>
      <section class="page-intro">
        <p>
          Growing up alongside the internet, I have always had a fascination for
          how the web can bring people and ideas together. This led me into my
          pursuit to explore the intersection of people and technology. Here is
          a glimpse into who I am and what drives me.
        </p>
      </section>
      <section class="page-content">
        <section class="page-content">
          <h2>I bring…</h2>
          <div class="about-tile">
            <h4>Design 🎨</h4>
            <p>
              As an interaction technologist, my main skill lies in designing
              impactful and meaningful experiences. I combine visual, UX, and
              interaction design to create cohesive results.
            </p>
          </div>
          <div class="about-tile">
            <h4>Tech 👨‍💻</h4>
            <p>
              With a background in programming, I am able to bring my designs to
              life through interactive prototypes. In addition, I am always
              eager to learn about new tech stacks and tools.
            </p>
          </div>
          <div class="about-tile">
            <h4>Ideas 🌟</h4>
            <p>
              I am always seeking out creative solutions to problems. I do this
              by drawing inspiration from varied sources and mixing and matching
              concepts to create new perspectives.
            </p>
          </div>
          <div class="about-tile">
            <h4>Deliberation 🧐</h4>
            <p>
              One of my biggest strengths is my desire to do things in an
              attentive and deliberate way. I try not to skimp on the details,
              even if it's something that has a small impact.
            </p>
          </div>
        </section>
        <section class="page-content">
          <h2>I value…</h2>
          <div class="about-tile">
            <h4>Playfulness 👻</h4>
            <p>
              Games and play are fun! But besides that, I also believe that a
              playful approach can often be beneficial to solve serious
              problems.
            </p>
          </div>
          <div class="about-tile">
            <h4>Openness 🌈</h4>
            <p>
              Great things can be built through a diverse and multidisciplinary
              approach. I value being adaptable and open at all times.
            </p>
          </div>
          <div class="about-tile">
            <h4>Inspiration 💫</h4>
            <p>
              The things that inspire me help me to grow. I find it important to
              surround myself in an environment that inspires and drives me.
            </p>
          </div>
          <div class="about-tile">
            <h4>Learning 🙋</h4>
            <p>
              I cherish being able to constantly learn (and unlearn!) things.
              Curiosity, exploration, and discovery are always close to my
              heart.
            </p>
          </div>
        </section>
      </section>
      {% include "footer.html" %}
    </main>

    {% include "contact.html" %} {% include "script.html" %}
  </body>
</html>
