<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Savio Menifer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/main.css" rel="stylesheet" />
  </head>

  <body id="work">
    <header class="sidebar secondary-column">
      <div class="nav-group secondary-column">
        <div class="mii">
          <div class="mii-slot"></div>
          <div id="container">
            <div id="dragMe"></div>
            <div class="tooltip-container">
              <div class="tooltip">
                <div class="tooltip-text"></div>
                <div id="arrow"></div>
              </div>
            </div>
          </div>
        </div>

        <nav>
          <a class="work-link" href="/index.html">Work</a>
          <a class="about-link" href="/about.html">About</a>
          <a class="lab-link" href="/lab.html">Lab</a>
        </nav>
      </div>

      <div class="header-name secondary-column">
        <h2>Savio Menifer</h2>
        <span>Interaction Designer</span>
      </div>
    </header>

    <main>
      <article class="page-content work">
        <figure class="hero">
          <img src="./assets/images/firefly_island/thumb.jpg" />
        </figure>
        <h1 class="heading">Firefly Island</h1>
        <div class="subheading">Exploring intimacy in Social VR</div>

        <p class="intro">
          Imagine a stranger coming up to you and patting you softly on your
          head. It would be bizarre if this happened to you in the real world.
          However, if you were hanging out on a social VR platform such as
          VRChat in a cute animal avatar, such an act could be expected and even
          welcomed. Social interactions in VR do not need to follow the existing
          conventions of the real world, as they can make use of the unique
          possibilities in a virtual reality that is not bound to the rules of
          the physical world.
        </p>
        <section class="info">
          <span>Master's thesis</span>
          <span>February 2022 </span>
        </section>
        <figure class="hero">
          <img src="./assets/images/firefly_island/thumb.jpg" />
        </figure>
        <p>
          In a connected world, social VR gives you the ability to experience
          meaningful, close connection with others online in new ways. For one,
          the ability to embody an avatar in VR gives you a new sort of grasp on
          the digital world—it lets you physically interact with another person
          over the internet. However, the potential of social VR does not stop
          there. In my master's thesis, I set out to explore how novel
          interaction possibilities in social VR can transform our experiences
          of intimacy and close connection over the internet.
        </p>
        <p>
          The result of my thesis was Firefly Island, a virtual world in the
          social VR platform Neos. Firefly Island was designed to be a world for
          two people to experience intimacy. It did not matter if they were two
          strangers meeting for the first time, or if they were a couple who had
          known each other for a long time—the world had activities that were
          designed to be interdependent, bringing people closer through play,
          exploration, and self-disclosure.
        </p>
      </article>
    </main>
    <address class="sidebar secondary-column">
      <a href="mailto:hello@savi.ooo">hello@savi.ooo</a>
      <a href="https://read.cv/savio">Resume</a>
      <a href="https://www.linkedin.com/in/saviomenifer/">LinkedIn</a>
    </address>

    <!--
<footer class="primary-column">
  Last updated on <time>xx-xx-xx</time>. View source on
  <a href="https://github.com/SavioMenifer/saviomenifer.github.io">Github.</a>
</footer>
-->

    <script src="/bundle.js"></script>
  </body>
</html>
