<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Savio Menifer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="./main.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="sidebar">
      <div id="container">
        <div id="dragMe"></div>
        <div class="tooltip-container">
          <div class="tooltip">
            <div class="tooltip-text"></div>
            <div id="arrow"></div>
          </div>
        </div>
      </div>

      <a class="sidebar-link" href="#">Work</a>
      <a class="sidebar-link" href="#">About</a>
      <a class="sidebar-link" href="#">CV</a>
      <a class="sidebar-link" href="#">Lab</a>
    </nav>

    <main>
      <h1 chat="this is a title yeah">Imagine a future</h1>
      <p>
        Lorem Ipsum is the single greatest threat. We are not - we are not
        keeping up with other websites. Lorem Ipsum best not make any more
        threats to your website. It will be met with fire and fury like the
        world has never seen.
      </p>
      <h2>Work</h2>
      <h3>Firefly Island</h3>
      <p>
        This thesis presents an exploratory look into how intimacy can be
        facilitated in social VR, by integrating theory and practice in the
        design of Firefly Island, a social VR world focused on intimacy.
      </p>
      <a href="#">Read more</a>
      <h3>Stargazing VR</h3>
      <p>
        This thesis presents an exploratory look into how intimacy can be
        facilitated in social VR, by integrating theory and practice in the
        design of Firefly Island, a social VR world focused on intimacy.
      </p>
      <a href="#">Read more</a>
    </main>

    <script src="./bundle.js"></script>
  </body>
</html>
