---
permalink: index.html
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Savio Menifer</title>
    <module href="/components/head.html"></module>
  </head>

  <body id="work">
    <module href="/components/header.html"></module>

    <main>
      <div class="intro-svg">
        <img src="./assets/images/home.svg" alt="TODO my garden" />
      </div>
      <section class="page-intro" chat="yolo bro">
        <p>
          Hi! I'm Savio. My work is driven by the possibilities of interactive
          technology, with a focus on shaping the future using technology to
          bring positive change. I am passionate about emerging mediums
          including social VR and shared virtual experiences.
        </p>
      </section>
      <section class="page-content">
        <h2 class="work-list-heading" chat="yolo2">Work</h2>
        {% for work in collections.work reversed %}
        <div class="work-card">
          <div class="work-card-text">
            <h3>{{ work.data.title }}</h3>
            <p>{{ work.data.subtitle }}</p>
            <a href="{{ work.url }}">Read more</a>
          </div>
          <img src="./assets/images/firefly_island/thumb.jpg" width="300" />
        </div>
        {% endfor %}
      </section>
      <module href="/components/footer.html"></module>
    </main>
    <module href="/components/contact.html"></module>

    <script src="/bundle.js"></script>
  </body>
</html>
