---
permalink: index.html
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Savio Menifer</title>
    <module href="/components/head.html"></module>
  </head>

  <body id="work">
    <module href="/components/header.html"></module>
    <main class="primary-column">
      <section class="page-intro">
        <h1 class="intro-title" chat="this is a title yeah">
          Imagine a future here
        </h1>
        <p>
          Lorem Ipsum is the single greatest threat. We are not - we are not
          keeping up with other websites. Lorem Ipsum best not make any more
          threats to your website. It will be met with fire and fury like the
          world has never seend.
        </p>
      </section>
      <section class="page-content">
        <h2>Work</h2>
        {% for work in collections.work reversed -%}
        <div class="work-card">
          <div class="work-card-text">
            <h3>{{ work.data.title }}</h3>
            <p>{{ work.data.description }}</p>
            <a href="{{ work.url }}">Read more</a>
          </div>
          <img src="./assets/images/firefly_island/thumb.jpg" width="300" />
        </div>
        {% endfor -%}
      </section>
    </main>
    <module href="/components/footer.html"></module>

    <script src="/bundle.js"></script>
  </body>
</html>
