---
title: Savio Menifer - Lab
description: Doing stuff in the lab!
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
  </head>

  <body id="lab">
    {% include "header.html" %}
    
    <main>
      <div class="intro-svg">
        <img src="assets/images/lab.svg" alt="TODO my garden" />
      </div>
      <section class="page-intro">
        <p>
          Lorem Ipsum is the single greatest threat. We are not - we are not
          keeping up with other websites. Lorem Ipsum best not make any more
          threats to your website. It will be met with fire and fury like the
          world has never seen.
        </p>
      </section>
      <section class="page-content">
        <h2>Key facts</h2>
        <div class="about-tile">
          <h3>Multidisciplinary approach</h3>
          <p>
            Lorem Ipsum is the single greatest threat. We are not - we are not
            keeping up with other websites. Lorem Ipsum best not make any more
            threats to your website.
          </p>
      </section>
      {% include "footer.html" %}
    </main>

    {% include "contact.html" %} {% include "script.html" %}
  </body>
</html>
