---
title: Savio Menifer - Lab
description: Welcome to my lab. This is a space for digital experimentation and tinkering, where I post about random fun side-projects and oddities that I work on. Watch this space!
headertext: Making and breaking stuff!
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
  </head>

  <body id="lab">
    {% include "header.html" %}

    <main>
      <div class="intro-svg">
        <img src="assets/images/lab.svg" alt="TODO my garden" />
      </div>
      <section class="page-intro">
        <p>
          Welcome to my lab. This is a space for digital experimentation and
          tinkering, where I post about random fun side-projects and oddities
          that I work on. Watch this space!
        </p>
      </section>
      <section class="page-content">
        <div class="about-tile">
          <h3>Lorem ipsum</h3>
          <p>
            Lorem Ipsum is the single greatest threat. We are not - we are not
            keeping up with other websites. Lorem Ipsum best not make any more
            threats to your website. Yes, this is my experiment with lorem
            ipsum, for now lol
          </p>
        </div>
      </section>
      {% include "footer.html" %}
    </main>

    {% include "contact.html" %} {% include "script.html" %}
  </body>
</html>
