@tailwind base;
@tailwind components;
@tailwind utilities;

#dragMe {
  cursor: move;
  user-select: none;
  background: lightblue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  /*width: 600px;
  height: 600px;*/
  right: 0;
  bottom: 0;
}

.tooltip-container {
  background-color: aquamarine;
  width: 100px;
  position: absolute;
}

.tooltip {
}

#arrow {
  position: absolute;
  background: aquamarine;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  z-index: -1;
}
