@font-face {
  font-family: "Basic_Sans_Narrow";
  src: url("../assets/webfonts/-BasicSansNarrowRegular.woff2") format("woff2"),
    url("../assets/webfonts/-BasicSansNarrowRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basic_Sans_Narrow_Semi";
  src: url("../assets/webfonts/BasicSansNarrow-BasicSansNrSm.woff2")
      format("woff2"),
    url("../assets/webfonts/BasicSansNarrow-BasicSansNrSm.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Basic_Sans_Narrow_Lt";
  src: url("../assets/webfonts/BasicSansNarrow-BasicSansNrLt.woff2")
      format("woff2"),
    url("../assets/webfonts/BasicSansNarrow-BasicSansNrLt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "stiluregular";
  src: url("../assets/webfonts/Stilu-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "stilubold";
  src: url("../assets/webfonts/Stilu-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "boon400";
  src: url("../assets/webfonts/boon-400.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "boon700";
  src: url("../assets/webfonts/boon-700.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
