@import "variables";

header,
.navigation {
  display: flex;
}

header,
.content,
footer,
address,
.navigation {
  grid-column: span 12;
}

.intro {
  grid-column: span 10;
}

footer,
address {
  margin-bottom: 2em;
  align-self: end;
}

address {
  margin-top: 2em;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  margin: 0;
  padding: 0 1em;
  overflow-x: hidden;
}

main {
  display: contents;
}

.header-name {
  margin-bottom: 0;
}

.intro-title {
  margin-top: 2em;
}

.content h2 {
  margin-top: 0;
}

.work-card {
  display: flex;
  flex-direction: column;
  margin: 0 -1em;
  padding: 0 1em;
  overflow: hidden;
  height: 30em;
}

.work-card:not(:last-child) {
  margin-bottom: 2em;
}

.work-card img {
  object-fit: cover;
  width: 110%;
  height: 110%;
  margin: 0 -1em;
}

@media (min-width: 40em) {
  .content,
  footer,
  address {
    grid-column: 2/12;
  }
  .intro {
    grid-column: 2/10;
  }
  header {
    grid-column: 2/12;
    grid-row: 1;
  }
  .navigation {
    grid-column: 7/12;
    grid-row: 1;
  }
  .work-card {
    flex-direction: row;
    height: 20em;
  }
  .work-card-text {
    width: 50%;
  }
  .work-card img {
    margin: -1em -2em -1em 0;
    padding: 0 1em;
    width: 50%;
  }
}

@media (min-width: 60em) {
  .content,
  footer,
  address {
    grid-column: 3/11;
  }
  .intro {
    grid-column: 3/9;
  }
  header {
    grid-column: 3/11;
  }
  .navigation {
    grid-column: 7/11;
  }
}

@media (min-width: 80em) {
  .content {
    grid-column: 4/10;
    grid-row: 2;
  }
  .intro {
    grid-column: 4/8;
    grid-row: 1;
  }
  header {
    grid-column: 2/4;
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 2em;
  }
  address {
    grid-column: 2/4;
    grid-row: 3;
  }
  footer {
    grid-column: 4/10;
    grid-row: 3;
  }
  .header-name {
    margin-top: 1em;
  }
  .navigation {
    grid-column: 2/4;
    grid-row: 2;
    flex-direction: column;
  }
}

@media (min-width: 100rem) {
  .content,
  footer {
    grid-column: 4/9;
  }
}
