@import "variables";

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0;
  padding: 0 1em;
  overflow-x: hidden;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header,
.page-content {
  display: contents;
}

.primary-column,
.secondary-column,
.page-content * {
  grid-column: 1 / -1;
}

.page-intro {
  grid-column: span 10;
}

.nav-group {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
}

.mii-slot {
  float: left;
}

footer,
address {
  margin-bottom: 2em;
  align-self: end;
}

address {
  margin-top: 2em;
}

.header-name {
  grid-column: 1 / -1;
  grid-row: 2;
  align-self: end;
}

.header-name h2 {
  margin-bottom: 0;
}

.work-card {
  display: flex;
  flex-direction: column;
  margin: 0 -1em;
  padding: 0 1em;
  overflow: hidden;
  height: 30em;
}

.work-card:not(:last-child) {
  margin-bottom: 2em;
}

.work-card img {
  object-fit: cover;
  width: 110%;
  height: 110%;
  margin: 0 -1em;
}

.intro-svg {
  grid-column: 8 / 13;
  grid-row: 2;
  position: relative;
}

.intro-svg img {
  float: right;
  max-height: 15em;
}

.about-photo {
  clip-path: circle();
  position: absolute;
  right: 0;
  transform: scale(0.75);
  max-width: 100%;
}

@media (min-width: 40em) {
  main {
    grid-template-columns: repeat(10, 1fr);
    grid-row: 3;
  }
  .primary-column,
  .secondary-column {
    grid-column: 2/12;
  }
  .header-name {
    margin-top: 2em;
  }
  .intro-svg {
    grid-column: 8 / 12;
    grid-row: 2 / 4;
  }
  .page-intro {
    grid-column: 1/7;
  }
  .work-card {
    flex-direction: row;
    height: 20em;
  }
  .work-card-text {
    width: 50%;
  }
  .work-card img {
    margin: -1em -2em -1em 0;
    padding: 0 1em;
    width: 50%;
  }
}

@media (min-width: 60em) {
  main {
    grid-template-columns: repeat(8, 1fr);
  }
  .primary-column,
  .secondary-column {
    grid-column: 3/11;
  }
  .intro-svg {
    grid-column: 8 / 11;
  }
  .page-intro {
    grid-column: 1/6;
  }
  .about-tile {
    grid-column: span 4;
    padding-right: 2em;
  }
}

@media (min-width: 80em) {
  body {
    grid-template-rows: auto auto 1fr auto;
  }
  main {
    grid-template-columns: repeat(6, 1fr);
    grid-row: 2/4;
  }
  .nav-group {
    display: contents;
  }
  nav {
    flex-direction: column;
    align-items: start;
    grid-row: 3;
    margin-top: 2em;
  }
  .mii {
    margin-top: 4em;
  }
  .header-name {
    grid-row: 2;
    align-self: start;
    margin-top: 0;
  }
  .primary-column {
    grid-column: 4/10;
  }
  .secondary-column {
    grid-column: 2/4;
  }
  .intro-svg {
    grid-column: 8 / 10;
    grid-row: 1 / 4;
  }
  .page-intro {
    grid-column: 1/5;
  }
  .about-tile {
    grid-column: span 3;
  }
}

@media (min-width: 100rem) {
  .primary-column {
    grid-column: 4/9;
  }
}
