@import "variables";

header {
  grid-column: span 12;
  display: flex;
}

.navigation {
  display: flex;
  grid-column: span 12;
}

main {
  grid-column: span 12;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  margin: 0;
  padding: 0 1em;
  overflow-x: hidden;
}

.header-name {
  margin-bottom: 0;
}

.main-title {
  margin-top: 2em;
}

.work-card {
  display: flex;
  flex-direction: column;
  margin: 0 -1em;
  padding: 0 1em;
  overflow: hidden;
  height: 20em;
}

.work-card:not(:last-child) {
  margin-bottom: 2em;
}

.work-card img {
  object-fit: cover;
  width: 110%;
  height: auto;
  margin: 0 -1em;
}

@media (min-width: 40em) {
  main {
    grid-column: 2/12;
  }

  header {
    grid-column: 2/12;
    grid-row: 1;
  }
  .navigation {
    grid-column: 7/12;
    grid-row: 1;
  }
  .work-card {
    flex-direction: row;
  }
  .work-card img {
    margin: -1em -1em -1em 0;
  }
}

@media (min-width: 60em) {
  main {
    grid-column: 3/11;
  }
  header {
    grid-column: 3/11;
  }
  .navigation {
    grid-column: 7/11;
  }
}

@media (min-width: 80em) {
  main {
    grid-column: 4/10;
    grid-row: 1/3;
  }
  header {
    grid-column: 2/4;
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 2em;
  }
  .header-name {
    margin-top: 1em;
  }
  .navigation {
    grid-column: 2/4;
    grid-row: 2;
    flex-direction: column;
  }
}

@media (min-width: 100rem) {
  main {
    grid-column: 4/9;
  }
}

/*
@media (min-width: 768px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header  nav"
      "main    main";
  }
}

@media (min-width: 992px) {
  body {
    grid-template-columns: minmax(100px, 200px) auto;
    grid-template-areas:
      "header  header"
      "nav     main";
  }
  header {
    grid-template-columns: minmax(100px, 200px) auto;
  }
  .navigation {
    flex-direction: column;
    text-align: right;
    margin-top: 2em;
    margin-right: $sidebar-margin-right;
  }
  .nav-link {
    margin-bottom: 1em;
  }
}
*/
