#work-page .header-name {
  display: none;
}

.work > picture {
  display: contents;
}

.work .cover {
  margin: 0 -1em;
  object-fit: cover;
  height: 30em;
  width: calc(100% + 2em);
  grid-column: 1 / -1;
}

.work > .heading {
  font-size: 2em;
  margin-top: 2em;
}

.work > .subheading {
  font-size: 1.5em;
  margin-bottom: 2em;
}

.work > .larger {
  font-size: 1.3em;
  line-height: 1.4em;
  margin-top: 1em;
}

.work > .intro {
  margin-bottom: 2em;
  margin-top: 0;
}

.work > .info {
  margin-bottom: 2em;
}

.work > .info > h6:first-child {
  margin-top: 0;
}

.work > .info > p {
  font-size: 1em;
}

.work > .info > ul {
  margin: 0 0 0.25em 0;
  padding: 0;
  list-style: none;
}

.work > figure {
  display: contents;
}

.work > figure > * {
  width: 100%;
  grid-column: 1 / -1;
}

.work figure img {
  height: auto;
}

.work figure figcaption {
  font-style: italic;
  margin-top: 1.5em;
}

.work > figure > :last-child {
  margin-bottom: 2em;
}

.work > figure.wide img {
  grid-column: 1 / -1;
  margin-left: -1em;
  margin-right: -1em;
  width: calc(100% + 2em);
}

.work > figure.shrink img {
  max-width: 30em;
  justify-self: center;
}
.work > figure.shrink figcaption {
  text-align: center;
}

.work > .small-figure-text,
.work > .large-figure-text {
  margin-bottom: 2em;
}

.work > .small-figure-text figure,
.work > .large-figure-text figure {
  margin: 0;
}

.work > .small-figure-text .group,
.work > .large-figure-text .group {
  margin-bottom: 2em;
}

.work > .small-figure-text video,
.work > .large-figure-text video {
  width: 100%;
}

.work > .slider {
  display: flex;
  overflow-x: scroll;
  cursor: grab;
  border-radius: $work-page-border-radius;
}

.work > .slider > figure {
  display: contents;
}

.work > .slider > figure img {
  width: calc(50vw);
  border-radius: $work-page-border-radius;
}

.work > .slider > figure:not(:last-child) img {
  margin-right: 2em;
}

.work > .footnotes {
  font-size: 0.75em;
}

.work .footnotes-list {
  padding-left: 1em;
}

@media (min-width: 40em) {
  .work > figure > * {
    grid-column: 2/12;
  }
}

@media (min-width: 60em) {
  #work-page .header-name {
    display: unset;
  }
  .work > figure > * {
    grid-column: 4 / 12;
  }
  .work > figure.wide img {
    grid-column: 4 / 12;
    border-radius: $work-page-border-radius;
  }
  .work .cover {
    grid-column: 4 / 12;
    border-radius: 0 0 $work-page-border-radius $work-page-border-radius;
  }
  .work video {
    border-radius: $work-page-border-radius;
  }
  .work > .small-figure-text {
    display: contents;
  }
  .work > .small-figure-text > figure {
    grid-column: 4 / 9;
    padding-right: 2em;
    margin-bottom: 2em;
  }
  .work > .small-figure-text > .group {
    grid-column: 9 / 12;
  }
}

@media (min-width: 80em) {
  .work > .intro {
    grid-column: 4 / 9;
  }
  .work > .info {
    grid-column: 10 / 12;
  }
  .work > .small-figure-text {
    display: unset;
    grid-column: 4 / 8;
  }
  .work > .small-figure-text:nth-of-type(odd) {
    grid-column: 8 / 12;
  }
  .work > .small-figure-text > figure {
    margin-bottom: 0;
  }
  .work > .small-figure-text .group {
    margin-bottom: 0;
  }
  .work > .large-figure-text {
    display: contents;
  }
  .work > .large-figure-text > figure {
    grid-column: 4 / 9;
    padding-right: 2em;
    margin-bottom: 2em;
  }
  .work > .large-figure-text > .group {
    grid-column: 9 / 12;
  }
  .work > .slider {
    grid-column: 4 / 12;
  }
  .work > figure.contained * {
    grid-column: 4 / 10;
  }
}
