@import "variables";
@import "fonts";
@import "typography";
@import "colors";
@import "layout";
@import "layout-work";

#dragMe {
  cursor: move;
  user-select: none;
  background: lightblue;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  position: absolute;
}

#container {
  position: absolute;
}

.tooltip-container {
  width: 100px;
  position: absolute;
}

.tooltip {
  background-color: aquamarine;
  transition: transform 0.2s ease, opacity 0.1s ease;
  transform: scale(0, 0);
  opacity: 0;
}

#arrow {
  position: absolute;
  background: aquamarine;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  z-index: -1;
}

.mii-slot {
  height: 3em;
  width: 3em;
  background-color: #bbb;
  border-radius: 50%;
}

.mii {
  z-index: 99;
}

.intro-svg {
  user-select: none;
}

.about-photo {
  image-rendering: -webkit-optimize-contrast; // fix for blurry image in chrome, wtf :(
}

a.external::after {
  content: " ";
  display: inline-block;
  vertical-align: top;
  margin-top: 0.45em;
  margin-left: 0.2em;
  mask-image: url(../assets/images/external-arrow.svg);
  height: 0.4em;
  width: 0.4em;
}
