@import "variables";
@import "fonts";
@import "typography";

body {
  max-width: 40em;
  margin: auto;
}

#dragMe {
  cursor: move;
  user-select: none;
  background: lightblue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
}

.tooltip-container {
  width: 100px;
  position: absolute;
}

.tooltip {
  background-color: aquamarine;
  transition: transform 0.2s ease, opacity 0.1s ease;
  transform: scale(0, 0);
  opacity: 0;
}

#arrow {
  position: absolute;
  background: aquamarine;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  z-index: -1;
}

.sidebar {
  height: 100%;
  display: fixed;
}

.sidebar-link {
  display: block;
}
