@import "variables";
@import "fonts";
@import "typography";
@import "layout";

#dragMe {
  cursor: move;
  user-select: none;
  background: lightblue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
}

#container {
  position: absolute;
}

.tooltip-container {
  width: 100px;
  position: absolute;
}

.tooltip {
  background-color: aquamarine;
  transition: transform 0.2s ease, opacity 0.1s ease;
  transform: scale(0, 0);
  opacity: 0;
}

#arrow {
  position: absolute;
  background: aquamarine;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  z-index: -1;
}

.mii-slot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
}

.work-card {
  background-color: #bbb;
}

// highlight current page in nav menu
#work nav .work-link,
#about nav .about-link,
#lab nav .lab-link {
  font-weight: bold;
}
