<header class="secondary-column">
  <div class="mii-slot"></div>
  <div id="container">
    <div id="dragMe"></div>
    <div class="tooltip-container">
      <div class="tooltip">
        <div class="tooltip-text"></div>
        <div id="arrow"></div>
      </div>
    </div>
  </div>

  <div>
    <h2 class="header-name">Savio Menifer</h2>
    <span>Interaction Designer</span>
  </div>
</header>

<nav class="navigation secondary-column">
  <a class="work-link" href="/index.html">Work</a>
  <a class="about-link" href="/about.html">About</a>
  <a class="lab-link" href="/lab.html">Lab</a>
</nav>
