<header>
  <div class="nav-group secondary-column">
    <div class="mii secondary-column">
      <div class="mii-slot"></div>
      <div id="container">
        <div id="dragMe"></div>
        <div class="tooltip-container">
          <div class="tooltip">
            <div class="tooltip-text"></div>
            <div id="arrow"></div>
          </div>
        </div>
      </div>
    </div>

    <nav class="secondary-column">
      <a class="work-link" href="/index.html">Work</a>
      <a class="about-link" href="/about.html">About</a>
      <a class="lab-link" href="/lab.html">Lab</a>
    </nav>
  </div>

  <div class="header-name secondary-column">
    <h2>Savio Menifer</h2>
    <span>Interaction Designer</span>
  </div>
</header>
